extends layout

block tableContent
  section.dealer
    ul
      if handsEmpty
        li
          img.card(src="/images/card_placeholder.png")
      each card in dealer.hand
        li
          img.card(src=`/images/${card.rank}_of_${card.suit}.png`)
      if cardHidden
        li
          img.card(src="/images/card_back.png")

  section.rules
    p.hand-text Dealer Hand
    p(class=cardHidden ? "hidden-total" : "dealer-total") #{handValues.dealer}
    p BLACKJACK PAYS 3 TO 2
    p Dealer must draw to 16 and stand on 17
    p.hand-text Your Hand
    p.player-total #{handValues.player}

  section.actions
    //- if isBusted
    //-   form(action="/game/over" method="get")
    //-     fieldset.center-actions
    //-       button CONTINUE
    if handValues.dealer >= 17
      a.center-actions(href="/game/over") CONTINUE
    if handValues.dealer < 17
      form(action="/game/dealer/hit" method="post")
        fieldset.center-actions
          button CONTINUE

  section.player
    ul
      each card in player.hand
        li
          img.card(src=`/images/${card.rank}_of_${card.suit}.png`)

block barContent